<header class="site-header">
    <a class="brand" href="/"><img src="/img/logo.png" alt="ILLIT"></a>

    <nav class="gnb">
        <a href="/profile">Profile</a>
        <a href="/members">Members</a>
        <a href="/albums" data-protected>Flea</a>
        <a href="/news">News</a>
        <a href="/glitz" data-protected>Glitz Zone</a>
    </nav>
</header>